# Build outputs
bin/
obj/
/*.dll
/*.pdb
/*.user

# VSCode
.vscode/.history
.vscode/*.code-workspace

# User logs
*.log

# Other
*.tmp

# IDE-specific local settings (not needed in Git)
omnisharp.json

# ignore build/version helper scripts
build_versions.ps1
build_versions.bat
deploy_instances.json

# ignore GitHub configuration/workflow folder
.github/
